.auth-form {
  font-family: Questrial;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form {
  color: var(--black);
}

.auth-form h2 {
  font-size: 35px;
  margin-bottom: 2em;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth-form .input-container {
  background: white;
  padding: 1em;
  display: flex;
  align-items: center;
  width: 23em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.auth-form .auth-icon {
  margin-bottom: 0.2em;
  color: var(--red);
}

.auth-form input[type='submit'] {
  cursor: pointer;
  margin-top: 1em;
  font-size: 18px;
  width: 9em;
  height: 2em;
  background: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border: 1px solid var(--red);
  color: var(--red);
  transition: 0.3s;
  border-radius: 5px;
}

.auth-form input[type='submit']:hover {
  background: var(--red);
  color: white;
}

.auth-form input[type='text'],
.auth-form input[type='password'] {
  border: none;
  height: 2em;
  width: 20em;
  font-size: 18px;
  margin-left: 0.5em;
}

.auth-form input:focus {
  outline: none;
}

.error-message {
  margin-top: 1em;
  color: var(--red);
}
